.main-header{
background: white url("../img/logo.svg") no-repeat 50% top scroll;
}

.picture{
font-family: "PT Sans", "Arial", sans-serif;
color: black;
text-transform: uppercase;
font-size: 30px;
font-weight: bold;
text-align: center;
background: white url("../img/IMG_9190.jpg") no-repeat 50% 200px scroll;

}
.column1{

}
.column2{

}
.column3{

}
